.items-table {
    border:solid 1px blueviolet;
    border-collapse: collapse;    
}

.header {
    padding : 10px;
    font-weight: bold;
}

.items-table td {
    padding: 10px;
    border:solid 1px blueviolet;
}